<a href="https://colab.research.google.com/github/asadca4u/Final_Project_Group_Five/blob/Machine-Learning-Blueprint/Diabetes_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import boto
import s3fs
# Import dataset from S3 bucket
df = pd.read_csv('s3://diabetes-dataset/diabetes_data_upload.csv')
df.head()

   Age Gender Polyuria Polydipsia  ... muscle stiffness Alopecia Obesity     class
0   40   Male       No        Yes  ...              Yes      Yes     Yes  Positive
1   58   Male       No         No  ...               No      Yes      No  Positive
2   41   Male      Yes         No  ...              Yes      Yes      No  Positive
3   45   Male       No         No  ...               No       No      No  Positive
4   60   Male      Yes        Yes  ...              Yes      Yes     Yes  Positive

[5 rows x 17 columns]

In [2]:
#Import Scikit Learn label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
columns = ['Polyuria', 'Polydipsia', 'sudden weight loss', 'weakness', 'Polyphagia', 'Genital thrush', 'visual blurring', 'class',
            'Itching', 'Irritability', 'delayed healing', 'partial paresis', 'muscle stiffness', 'Alopecia', 'Obesity', 'Gender']

# For loop to iterate over columns and encode them one by one
for column in columns:
  df2[column] = le.fit_transform(df2[column])

df2.head()

# Class: 1 = Positive for Diabetes and 0 = Negative for Diabetes

   Age  Gender  Polyuria  ...  Alopecia  Obesity  class
0   40       1         0  ...         1        1      1
1   58       1         0  ...         1        0      1
2   41       1         1  ...         1        0      1
3   45       1         0  ...         0        0      1
4   60       1         1  ...         1        1      1

[5 rows x 17 columns]

In [3]:
print(df2.dtypes)
print(df2.shape)

Age                   int64
Gender                int64
Polyuria              int64
Polydipsia            int64
sudden weight loss    int64
weakness              int64
Polyphagia            int64
Genital thrush        int64
visual blurring       int64
Itching               int64
Irritability          int64
delayed healing       int64
partial paresis       int64
muscle stiffness      int64
Alopecia              int64
Obesity               int64
class                 int64
dtype: object
(520, 17)

In [4]:
#Sort dataset to only include female participants
female_df = df2.loc[df2['Gender'] == 0]
female_df.head()

    Age  Gender  Polyuria  ...  Alopecia  Obesity  class
39   30       0         1  ...         0        0      1
40   53       0         0  ...         0        0      1
41   50       0         1  ...         0        0      1
42   50       0         0  ...         0        0      1
43   35       0         1  ...         0        0      1

[5 rows x 17 columns]

In [5]:
female_df.shape

(192, 17)

In [6]:
#Sort dataset to only include male participants
male_df = df2.loc[df2['Gender'] == 1]
male_df.head()

   Age  Gender  Polyuria  ...  Alopecia  Obesity  class
0   40       1         0  ...         1        1      1
1   58       1         0  ...         1        0      1
2   41       1         1  ...         1        0      1
3   45       1         0  ...         0        0      1
4   60       1         1  ...         1        1      1

[5 rows x 17 columns]

In [7]:
male_df.shape

(328, 17)

In [8]:
# Use SQLAlchemy to create a connection between Python notebook and PostgreSQL database hosted on AWS server
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:Mundu33teba?@database-2.c0lvbdcxuj3p.us-east-2.rds.amazonaws.com:5432/Final_Project')

# Use connection to export three dataframes to database
df2.to_sql('all_data', engine, if_exists='replace', index=False)

female_df.to_sql('female_data', engine, if_exists='replace', index=False)

male_df.to_sql('male_data', engine, if_exists='replace', index=False)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [13]:
# Decision Tree Model
# Initial imports
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [9]:
# Define the Features Set
X = df2.copy()
X = X.drop(["class", "Age"], axis=1)
X.head()

   Gender  Polyuria  Polydipsia  ...  muscle stiffness  Alopecia  Obesity
0       1         0           1  ...                 1         1        1
1       1         0           0  ...                 0         1        0
2       1         1           0  ...                 1         1        0
3       1         0           0  ...                 0         0        0
4       1         1           1  ...                 1         1        1

[5 rows x 15 columns]

In [10]:
# Define the target set.
y = df2["class"].values
y[:5]

array([1, 1, 1, 1, 1])

In [14]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(390, 15)
(130, 15)
(390,)
(130,)

In [15]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [17]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
predictions

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1])

In [18]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           43            2
Actual 1            5           80

In [19]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [20]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           43            2
Actual 1            5           80

Accuracy Score : 0.9461538461538461
Classification Report
              precision    recall  f1-score   support

           0       0.90      0.96      0.92        45
           1       0.98      0.94      0.96        85

    accuracy                           0.95       130
   macro avg       0.94      0.95      0.94       130
weighted avg       0.95      0.95      0.95       130