In [7]:
# Import dependencies and datafrom the S3 bucket
import pandas as pd
import s3fs
# Import dataset from S3 bucket
df = pd.read_json("s3://diabetes-dataset/diabetes")
df

,Age,Gender,Polyuria,Polydipsia,sudden_weight_loss,weakness,Genital_thrush,visual_bluring,Itching,Irritability,delayed_healing,partial_paresis,muscle_stiffness,Alopecia,Obesity
0,36,0,1,1,1,0,1,0,0,1,1,0,1,1,0

In [8]:
df.dtypes

Age                   int64
Gender                int64
Polyuria              int64
Polydipsia            int64
sudden_weight_loss    int64
weakness              int64
Genital_thrush        int64
visual_bluring        int64
Itching               int64
Irritability          int64
delayed_healing       int64
partial_paresis       int64
muscle_stiffness      int64
Alopecia              int64
Obesity               int64
dtype: object

In [10]:
# Rename columns to match those in the database
df.rename(columns={"sudden_weight_loss":"sudden weight loss", "Genital_thrush":"Genital thrush", "visual_bluring":"visual blurring", "delayed_healing":"delayed healing", "partial_paresis":"partial paresis", "muscle_stiffness":"muscle stiffness"})

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity
0,36,0,1,1,1,0,1,0,0,1,1,0,1,1,0