## Import All Six Datasets

In [1]:
import pandas as pd

In [2]:
# Use SQLAlchemy to create a connection between Python notebook and PostgreSQL database hosted on AWS server
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:Mundu33teba?@database-2.c0lvbdcxuj3p.us-east-2.rds.amazonaws.com:5432/Final_Project')

In [3]:
# Import All Data
diabetes_df = pd.read_sql_table("all_data", con=engine)
diabetes_df

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,0,1,1,1,0,1,0,0,1,0,1,1,0,0,0,1
516,48,0,1,1,1,1,1,0,0,1,1,1,1,0,0,0,1
517,58,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1
518,32,0,0,0,0,1,0,0,1,1,0,1,0,0,1,0,0
519,42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
# Import Male Data
male_df = pd.read_sql_table("male_data", con=engine)
male_df.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1

In [5]:
# Import Female Data
female_df = pd.read_sql_table("female_data", con=engine)
female_df.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,30,0,1,0,1,1,1,0,0,0,0,1,0,0,0,0,1
1,53,0,0,1,1,0,1,1,1,1,1,1,0,1,0,0,1
2,50,0,1,1,1,0,1,0,0,0,0,1,1,0,0,0,1
3,50,0,0,1,0,1,1,0,1,1,1,1,1,1,0,0,1
4,35,0,1,1,1,1,1,0,0,1,0,1,1,1,0,0,1

In [6]:
# Import Under 40 Data
Gen1_df = pd.read_sql_table("generation_one", con=engine)
Gen1_df.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,38,1,1,1,0,0,1,1,0,1,0,1,0,1,0,0,1
1,35,1,1,0,0,0,1,1,0,0,1,1,0,0,1,0,1
2,39,1,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1
3,32,1,0,0,0,0,0,1,0,0,1,1,0,0,0,1,1
4,38,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1

In [7]:
# Import Under 40-60 Data
Gen2_df = pd.read_sql_table("generation_two", con=engine)
Gen2_df.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,55,1,1,1,0,1,1,0,1,1,0,1,0,1,1,1,1

In [8]:
# Import Under 40-60 Data
Gen3_df = pd.read_sql_table("generation_three", con=engine)
Gen3_df.head()

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
1,66,1,1,1,1,1,0,0,1,1,1,0,1,1,0,0,1
2,67,1,1,1,0,1,1,1,0,1,1,0,1,1,0,1,1
3,70,1,0,1,1,1,1,0,1,1,1,0,0,0,1,0,1
4,61,1,1,1,1,1,1,1,1,1,0,0,0,0,1,1,1

In [9]:
#Build Summary Tables
# Accuracy
data_subset = ["All Data", "Male Data", "Female Data", "Under 40", "40-60", "Over 60"]
Acc_table = pd.DataFrame(index=data_subset, data=([[0.915, 0.954, 0.985, 0.985], 
                                                   [0.939, 0.939, 0.951, 1.0],
                                                   [0.938, 1.0, 0.979, 0.979],
                                                   [0.861, 0.944, 0.972, 0.972],
                                                   [0.972, 0.930, 0.986, 1.0], 
                                                   [1.0, 1.0, 0.917, 0.958]]),
    columns=(["LR", "SVM", "DT", "RF"]))
Acc_table.loc['Mean'] = Acc_table.mean()
Acc_table = Acc_table.round(decimals=3).astype(object)
Acc_table

                LR    SVM     DT     RF
All Data     0.915  0.954  0.985  0.985
Male Data    0.939  0.939  0.951      1
Female Data  0.938      1  0.979  0.979
Under 40     0.861  0.944  0.972  0.972
40-60        0.972   0.93  0.986      1
Over 60          1      1  0.917  0.958
Mean         0.938  0.961  0.965  0.982

In [10]:
# Precision
data_subset = ["All Data", "Male Data", "Female Data", "Under 40", "40-60", "Over 60"]
Pre_table = pd.DataFrame(index=data_subset, data=([[0.92, 0.95, 0.98, 0.98], 
                                                   [0.94, 0.94, 0.95, 1.0],
                                                   [0.94, 1.0, 0.98, 0.98],
                                                   [0.88, 0.95, 0.97, 0.97],
                                                   [0.97, 0.93, 0.99, 1.0], 
                                                   [1.0, 1.0, 0.93, 0.96]]),
    columns=(["LR", "SVM", "DT", "RF"]))
Pre_table.loc['Mean'] = Pre_table.mean()
Pre_table = Pre_table.round(decimals=2).astype(object)
Pre_table

               LR   SVM    DT    RF
All Data     0.92  0.95  0.98  0.98
Male Data    0.94  0.94  0.95     1
Female Data  0.94     1  0.98  0.98
Under 40     0.88  0.95  0.97  0.97
40-60        0.97  0.93  0.99     1
Over 60         1     1  0.93  0.96
Mean         0.94  0.96  0.97  0.98

In [11]:
# Sensitivity
data_subset = ["All Data", "Male Data", "Female Data", "Under 40", "40-60", "Over 60"]
Sen_table = pd.DataFrame(index=data_subset, data=([[0.92, 0.95, 0.98, 0.98], 
                                                   [0.94, 0.94, 0.95, 1.0],
                                                   [0.94, 1.0, 0.98, 0.98],
                                                   [0.86, 0.94, 0.97, 0.97],
                                                   [0.97, 0.93, 0.99, 1.0], 
                                                   [1.0, 1.0, 0.92, 0.96]]),
    columns=(["LR", "SVM", "DT", "RF"]))
Sen_table.loc['Mean'] = Sen_table.mean()
Sen_table = Sen_table.round(decimals=2).astype(object)
Sen_table

               LR   SVM    DT    RF
All Data     0.92  0.95  0.98  0.98
Male Data    0.94  0.94  0.95     1
Female Data  0.94     1  0.98  0.98
Under 40     0.86  0.94  0.97  0.97
40-60        0.97  0.93  0.99     1
Over 60         1     1  0.92  0.96
Mean         0.94  0.96  0.96  0.98

In [12]:
# Plot Accuracy
import plotly.graph_objects as go
data_subset = ["All Data", "Male Data", "Female Data", "Under 40", "40-60", "Over 60", "Mean"]
fig = go.Figure(data=[
    go.Bar(name='Linear Regression', x=data_subset, y=Acc_table["Linear Regression"]),
    go.Bar(name='SVM', x=data_subset, y=Acc_table["SVM"]),
    go.Bar(name='Decision Tree', x=data_subset, y=Acc_table["Decision Tree"]),
    go.Bar(name='Random Forest', x=data_subset, y=Acc_table["Random Forest"])

])
# Change the bar mode
fig.update_layout(
    barmode='group',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='Accuracy',
        titlefont_size=16,
        tickfont_size=14))

fig.show()

KeyError: 'Linear Regression'

In [ ]:
# Plot Precision
import plotly.graph_objects as go
data_subset = ["All Data", "Male Data", "Female Data", "Under 40", "40-60", "Over 60", "Mean"]
fig = go.Figure(data=[
    go.Bar(name='Linear Regression', x=data_subset, y=Pre_table["Linear Regression"]),
    go.Bar(name='SVM', x=data_subset, y=Pre_table["SVM"]),
    go.Bar(name='Decision Tree', x=data_subset, y=Pre_table["Decision Tree"]),
    go.Bar(name='Random Forest', x=data_subset, y=Pre_table["Random Forest"])

])
# Change the bar mode
fig.update_layout(
    barmode='group',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='Precision',
        titlefont_size=16,
        tickfont_size=14))

fig.show()

In [ ]:
# Plot Sensitivity
import plotly.graph_objects as go
data_subset = ["All Data", "Male Data", "Female Data", "Under 40", "40-60", "Over 60", "Mean"]
fig = go.Figure(data=[
    go.Bar(name='Linear Regression', x=data_subset, y=Sen_table["Linear Regression"]),
    go.Bar(name='SVM', x=data_subset, y=Sen_table["SVM"]),
    go.Bar(name='Decision Tree', x=data_subset, y=Sen_table["Decision Tree"]),
    go.Bar(name='Random Forest', x=data_subset, y=Sen_table["Random Forest"])

])
# Change the bar mode
fig.update_layout(
    barmode='group',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='Sensitivity',
        titlefont_size=16,
        tickfont_size=14))

fig.show()